#container-plus {
    font-size: 50px;
    width: 100%;
    position: relative;
    height: 50px;
    margin-top: 40px;


}

#plus-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;
    border-radius: 50%;
    border: solid lightgray 2px;
}

#plus-icon:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}

.trash:hover {

    cursor: pointer;
   color: rgb(255, 0, 0);

}
.trash {

    transition: all ease 0.3s;

}
#updBackBtn:hover{
    background: #f2f2f2;
    transform: scale(1.2);
    border: solid #eec1a5 1px;
    color: #eec1a5;


}

.redAnimation{
	animation: errorButtonAnimation 0.5s forwards;
	
}
.redAnimation #plus-icon{
	animation: errorButtonAnimatioRojo 0.5s forwards;
	
}

@keyframes  errorButtonAnimatioRojo {
	0% {
        border: solid lightgray 2px;
        color:#777;
		
    
	}
    
    20% {
		border: solid rgb(255, 79, 79) 2px;
        color: rgb(255, 79, 79);
		
    
	}

	80% {
		border: solid rgb(255, 79, 79) 2px;
        color: rgb(255, 79, 79);
		
       
	}

	100% {
		border: solid lightgray 2px;
        color:#777;
		
       
	}

}

@keyframes errorButtonAnimation {
	20% {
		translate: -15px;
		
    
	}
	40% {
		translate: 15px;
		
     
	}
	60% {
		translate: -15px;
		
       
	}
	80% {
		translate: 15px;
		
       
	}

	100% {
		translate: 0;
		
       
	}

}