



.carousel-caption h1 {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

}

.pb-60 {
	padding-bottom: 60px
}
.pb-70 {
	padding-bottom: 70px
}

.pt-70 {
	padding-top: 70px
}

.mt-20 {
	margin-top: 20px
}
.mb-20 {
	margin-bottom: 20px
}
.mb-10 {
	margin-bottom: 10px
}

.carousel-caption p {
	display: block;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

}


.carousel-caption {

	min-width: 400px;
}







@media (max-width: 576px) {
	.parallax {
		margin-right: 0px;
		margin-left: 0px;
		margin-top: 0px;
		margin-bottom: -90px;
	}
	.testomial-area{
		margin-top: 60px;
	}
}

.col-lg-3,
.col-md-6 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 0;
	padding-left: 0;
}


.section-map {
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
}






.direccion-area {

	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.direccion-area h6 {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;

	color: #808080;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 600;
}



.flex-row {
	padding-left: 5px;
}


.section-map .primary-btn {
	border-radius: 10px;
}

.section-map .primary-btn:hover {
	background: #fff;
	border: 1px solid;
	border-color: #f0bc9e;
	color: #f0bc9e
}


::-moz-selection {
	background-color: #0058bc;
	color: #fff
}

::selection {
	background-color: #0058bc;
	color: #fff
}

::-webkit-input-placeholder {
	color: #777777;
	font-weight: 300
}

:-moz-placeholder {
	color: #777777;
	opacity: 1;
	font-weight: 300
}

::-moz-placeholder {
	color: #777777;
	opacity: 1;
	font-weight: 300
}

:-ms-input-placeholder {
	color: #777777;
	font-weight: 300
}

::-ms-input-placeholder {
	color: #777777;
	font-weight: 300
}

body {
	color: #777;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.625em;
	position: relative
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none
}



a {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

iframe {
	border: 0
}

a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0
}



h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	color: #808080;
	line-height: 1.2em !important;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 400
}



h1,
.h1 {
	font-size: 36px
}

h2,
.h2 {
	font-size: 30px
}

h3,
.h3 {
	font-size: 24px
}

h4,
.h4 {
	font-size: 18px
}

h5,
.h5 {
	font-size: 16px
}

h6,
.h6 {
	font-size: 14px;
	color: #222
}




.header-top {
	font-size: 12px;
	padding: 15px 15px 10px 0px;
}

.header-top a {
	color: #fff
}

.header-top ul li {
	display: inline-block;
	margin-left: 15px
}

.header-top .header-top-right {
	text-align: right
}

.header-top .header-top-right a {
	color: #222;
	font-weight: 400;
	margin-left: 10px;
	padding: 6px 12px
}

.header-top .header-top-right .icons {
	display: none
}

@media (max-width: 991px) {
	.header-top .header-top-right {
		padding-right: 15%
	}

	.header-top .header-top-right .icons {
		display: inline-block
	}

	.header-top .header-top-right .btns {
		display: none
	}
}


.main-menu {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 80%;
	padding: 12px 0px;
	border-radius: 5px 5px 5px 5px;
	display: grid;
	place-items: center;
}

.main-menu .menu-social-icons a {
	color: #e0e0e0 !important;
	margin-right: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.main-menu .menu-social-icons a:hover {
	color: #fff !important
}

@media (max-width: 991px) {
	.main-menu {
		display: none
	}
}

#header {
	padding: 0px 0px 24px 0px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
	background-color: #fff
}

@media (max-width: 991px) {
	#header {
		padding: 0px 0px 0px 0px
	}
}

.nav-menu,
.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none
}

.nav-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	right: 0;
	z-index: 99
}

.nav-menu li {
	position: relative;
	white-space: nowrap
}

.nav-menu>li {
	float: left
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
	display: block
}

.nav-menu ul ul {
	top: 0;
	right: 100%
}

.nav-menu ul li {
	min-width: 180px
}

.sf-arrows .sf-with-ul {
	padding-right: 30px
}

.sf-arrows .sf-with-ul:after {
	content: "\f107";
	position: absolute;
	right: 15px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal
}

.sf-arrows ul .sf-with-ul:after {
	content: "\f105"
}

@media (max-width: 991px) {
	#nav-menu-container {
		display: none
	}
}

.nav-menu a {
	padding: 0 8px 0px 8px;
	text-decoration: none;
	display: inline-block;

	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	outline: none
}

.nav-menu>li {
	margin-left: 10px
}

.nav-menu ul {
	margin: 12px 0 0 0;
	padding: 10px;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	background: #fff
}

.nav-menu ul li {
	transition: 0.3s
}

.nav-menu ul li a {
	padding: 5px 10px;
	color: #333;
	transition: 0.3s;
	display: block;
	font-size: 12px;
	text-transform: none
}

.nav-menu ul li:hover>a {
	color: #67bc00
}

.nav-menu ul ul {
	margin-right: 10px;
	margin-top: 0
}


#mobile-nav-toggle {
	position: fixed;
	right: 15px;
	z-index: 999;
	top: 18px;

	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	transition: all 0.4s;
	outline: none;
	cursor: pointer
}

.link a {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-weight: 200;
	font-size: 10px;
	line-height: 1.625em;
	outline: none;
	position: relative;
}



#mobile-nav-toggle i {
	color: #222;
	font-weight: 900
}

@media (max-width: 991px) {
	#mobile-nav-toggle {

		display: inline
	}

	#nav-menu-container {
		display: none
	}
}

#mobile-nav {
	position: fixed;
	padding-top: 18px;
	padding-bottom: 18px;
	top: -100%;
	overflow-x: hidden;
	left: 0;
	width: 100%;
	z-index: 2001;
	background: #f0bc9eef;
	overflow-y: auto;
	transition: 0.4s;


}

#mobile-nav-ex {
	transform-origin: left;
	color: white;
	position: absolute;
	height: 200px;
	width: 200px;
	background-color: #cc694e;
	z-index: 2002;
	right: -110px;
	top: -85%;
	border-radius: 50%;

	transform: rotate(-95deg);


}

body.mobile-nav-active #mobile-nav-ex {
	transition: 0.8s;
	top: -30%;
	transform: rotate(0);
}

#mobile-nav ul {
	padding: 0;
	margin: 0;
	list-style: none
}

#mobile-nav ul li {
	position: relative
}

#mobile-nav ul li a {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 22px 10px 15px;
	position: relative;
	text-decoration: none;
	width: 100%;
	display: block;
	outline: none;
	font-weight: 700
}

#mobile-nav ul li a:hover {
	color: #fff
}

#mobile-nav ul li li {
	padding-left: 30px
}

#mobile-nav ul .menu-has-children i {
	position: absolute;
	right: 0;
	z-index: 99;
	padding: 15px;
	cursor: pointer;
	color: #fff
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
	color: #67bc00
}

#mobile-nav ul .menu-has-children li a {
	text-transform: none
}

#mobile-nav ul .menu-item-active {
	color: #67bc00
}

#mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 1001;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.29);
	display: none
}

body.mobile-nav-active {
	overflow: hidden
}

body.mobile-nav-active #mobile-nav {
	top: 0;

}

body.mobile-nav-active #mobile-nav-toggle {
	color: #fff
}

.section-gap {
	padding: 100px 30px;

}




.p1-gradient-bg,
.main-menu,
.primary-btn,
.team-area .thumb div,
.single-footer-widget .bb-btn {
	background-image: -moz-linear-gradient(0deg, #e7af8c 0%, #e7af8c 50%);
	background-image: -webkit-linear-gradient(0deg, #e7af8c 0%, #e7af8c 50%);
	background-image: -ms-linear-gradient(0deg, #e7af8c 0%, #e7af8c 50%)
}

.primary-btn {
	background: #eec1a5;
}

.single-footer-widget li {
	margin-left: 0px;
}

.p1-gradient-color {
	background: -moz-linear-gradient(0deg, #4cb8b0 0%, #808080 100%);
	background: -webkit-linear-gradient(0deg, #4cb8b0 0%, #808080 100%);
	background: -ms-linear-gradient(0deg, #4cb8b0 0%, #808080 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}



.primary-btn {
	line-height: 42px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 25px;
	border: none;
	color: #fff;
	display: inline-block;
	font-weight: 500;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	position: relative
}

.primary-btn:focus {
	outline: none
}

.primary-btn span {
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
	right: 30px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.primary-btn:hover {
	color: #fff
}

.header-btn {
	background-color: #eec1a5;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid transparent;
	color: #fff
}

.header-btn:hover {
	border: 1px solid #fff;
	background: transparent;
	color: #fff
}

.home-about-area {
	background-color: #f9f9ff;
	padding: 70px 10px 70px 10px;
}

@media (max-width: 576px) {
	.home-about-area {
		padding: 40px 10px 40px 10px;
	}
}


@media (max-width: 991px) {
	.home-about-area:after {
		display: none
	}
}

@media (max-width: 991px) {
	.home-about-area .justify-content-end {
		justify-content: flex-start !important
	}
}

.home-about-area h1 {
	margin-bottom: 20px
}

.blog-area {
	background-color: rgba(128, 128, 128, .1);
}

.testomial-area .owl-carousel .owl-item img {
	width: auto !important
}

.testomial-area .owl-dots {
	text-align: center;
	bottom: 5px;
	margin-top: 20px;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden
}

.testomial-area .owl-dot {
	height: 10px;
	width: 10px;
	border-radius: 20px;
	display: inline-block;
	background: rgba(127, 127, 127, 1);
	margin-left: 5px;
	margin-right: 5px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.testomial-area .owl-dot.active {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background: #f0bc9e
}

@media (max-width: 414px) {
	.testomial-area .active-tstimonial-carusel {
		padding: 30px
	}
}

.single-testimonial {
	text-align: center;
	padding: 30px;
	border-radius: 10px;
	text-align: center;

	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.single-testimonial h4 {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.single-testimonial .desc {
	padding: 30px 0px
}

.single-testimonial:hover {
	cursor: pointer;
	background-color: rgb(240, 240, 240);

}

.single-testimonial:hover h4 {
	color: #f0bc9e
}

@media (max-width: 575px) {
	.single-testimonial {
		margin: 15px
	}
}


.single-feature {
	margin-bottom: 5px
}

.single-feature .icon .lnr {
	font-size: 35px;
	color: #f0bc9e
}

.single-feature .details {
	margin-left: 20px;
	color: white;
}

.single-feature .details h4 {
	color: white;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}




.single-feature2 .details {
	margin-right: 20px
}

.single-feature2 .details h4 {
	text-transform: uppercase;
	margin-bottom: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.single-feature2 .details h4:hover {
	color: #44a4cb
}



.appoinment-area {
	background-color: #eec1a5
}



@media (max-width: 991px) {
	.appoinment-area:after {
		display: none
	}
}

@media (max-width: 991px) {
	.appoinment-area .justify-content-end {
		justify-content: flex-start !important
	}
}

.appoinment-area h1 {
	margin-bottom: 20px
}





.appoinment-area .appoinment-right .form-control {
	padding: 12px
}

.appoinment-area .appoinment-right input,
.appoinment-area .appoinment-right textarea {
	color: rgb(56, 56, 56);
	font-size: 13px;
	border-color: #f1f1f1;
	border-radius: 10px;
	background-color: transparent
}

.appoinment-area .appoinment-right .primary-btn {
	border-radius: 0px;
	border: 1px solid white;
}

.appoinment-area .appoinment-right .primary-btn:hover {
	border-color: #fff;
	color: #44a4cb;
	background: #fff;
}

@media (max-width: 991px) {
	.appoinment-area .appoinment-right {
		max-width: 100%;
		padding-right: 15px
	}
}

.footer-area {
	height: 7rem;
	width: auto;
	background-color: #4cb8b0;
	display: grid;
	place-items: center;
}


.copy-right-text i,
.copy-right-text a {
	color: #67bc00
}


.footer-social {
	text-align: right
}

.footer-social a {
	padding: 10px 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.footer-social a:hover i {
	color: #fff
}

.footer-social i {
	color: #e0e0e0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}






.thumb {
	display: grid;
	place-items: center;
}


html,
body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	
	
}
html{
	scroll-behavior: smooth;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}



.homeFix {
	padding-top: 0px;
}

.serviceFix {
	width: 100%;
}

@media only screen and (max-width: 990px) {
	.homeFix {
		padding-top: 60px;
	}

	.serviceFix {
		width: 70%;
		margin: auto;
	}

}

@media only screen and (max-width: 320px) {

	.serviceFix {
		width: 80%;
	}

}

.theAlertStyle {
	display: none;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.96;
	min-width: 310px;
	z-index: 1001;
	animation: errorAlertAnimation 4.5s forwards;
}


@keyframes errorAlertAnimation {
	0% {

		opacity: 0;
		bottom: -50px;

	}

	20% {
		opacity: 0.96;

		bottom: 0;
	}

	70% {
		opacity: 0.96;

		bottom: 0;
	}

	100% {
		opacity: 0;

		bottom: -70px;
	}

}

.aTocar {
	margin-right: 8px;
	margin-left: 8px;
	color: #e2e2e2;
}

.aTocar:hover {
	color: #ffffff;
	transform: scale(1.2);
}

.anchorTocado {

	color: #ffffff;
	transform: scale(1.2);


}

.llegar {
	margin-top: 15px;
}

.idTag {
	position: absolute;
	height: 0;
	width: 0;
	top: -190px
}

@media only screen and (max-width: 990px) {

	.aTocar:hover {
		color: #ffffff;
		transform: scale(1);
	}

	.anchorTocado {

		color: #ffffff;
		transform: scale(1);


	}

	.idTag {
		position: absolute;
		height: 0;
		width: 0;
		top: -120px
	}

}
 
.card {
	width: 350px;
	padding: 10px;
	border-radius: 20px;
	background: #e2491b67;
	border: none;
	color: #fff;
	height: 350px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	margin-bottom: 20px;
}
.card:hover{
	transform: scale(1.07);
	filter: brightness(125%);

	box-shadow: 2px 0px 25px -5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 2px 0px 25px -5px rgba(0,0,0,0.7);
	-moz-box-shadow: 2px 0px 25px -5px rgba(0,0,0,0.7);
}

.card h1 {
	font-size: 48px;
	margin-bottom: 0px;
	color: white;
}

.card span {
	font-size: 28px;
	margin-bottom: 10px;
}

.card .image {
	position: absolute;
	opacity: .1;
	left: 0;
	top: 0;
}

.card .image2 {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: .1;
}

.carousel img{
	max-height: 95vh;object-fit: cover; filter: brightness(65%) blur(2px);
}

@media only screen and (max-width: 700px) {

	.carousel img{
		filter: brightness(50%) blur(0.8px);
	}

}