body {
    background: rgb(16, 42, 93);
    background: radial-gradient(circle, rgba(16, 42, 93, 1) 0%, rgba(18, 75, 180, 1) 87%, rgba(41, 70, 168, 1) 89%);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Prompt', sans-serif;

}


.juego {
    border-radius: 10px 10px 10px 10px;
    height: 400px;
    width: 1000px;
    border: solid black 10px;
    background: rgb(16, 42, 93);
    background: linear-gradient(287deg, rgba(16, 42, 93, 1) 0%, rgba(18, 75, 180, 1) 64%, rgba(41, 70, 168, 1) 89%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    position: relative;
}

.bordeExterior {
    border: solid white 1.5px;
    outline: solid rgb(0, 0, 0) 10px;
    border-radius: 10px 10px 10px 10px;
    transition: all 0.5s ease 0s;
}


.grande {
    transform: scale(1.2);

    outline: solid rgb(63, 167, 110) 10px;
    border: solid rgb(55, 190, 21) 10px;
}

.grandeMal {
    transform: scale(1.2);

    outline: solid rgb(167, 70, 63) 10px;
    border: solid rgb(170, 56, 48) 10px;
}

.op {


    font-size: 30px;
    font-weight: 700;


    background: rgb(15, 45, 107);
    background: linear-gradient(309deg, rgba(15, 45, 107, 1) 5%, rgba(15, 45, 107, 1) 6%, rgb(45, 83, 155) 41%);
    filter: brightness(105%);
    z-index: 0;

    cursor: pointer;
}

.animationImagen{
    animation: keyimg 0.65s ease-in-out;

}
@keyframes keyimg {
    0% {

        transform: rotate(0deg);
    }
   

   
    100%{
        transform: rotate(720deg) ;

    }
}

.optionNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: keyOption 0.5s ease-in-out;
    animation-timing-function: ease-in-out;
}

@keyframes keyOption {
    0% {

        transform: translate(-50%, -50%) scale(1);
    }
    50% {

        transform: translate(-50%, -50%) scale(2);
        
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        
    }
}


.op:hover {

    filter: brightness(130%);




}




.titulo {
    display: grid;
    place-items: center;
    margin-bottom: 75px;
    color: white;
}

.pregunta {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 45px;
    top: 20px;
}

#contador {
    z-index: 100;
    display: grid;
    place-items: center;
    position: absolute;
    font-size: 45px;
    color: white;
    border: solid black 5px;
    border-radius: 10px 10px 10px 10px;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 130px;
    font-weight: 700;

    background: linear-gradient(287deg, rgb(40, 75, 146) 0%, rgb(27, 59, 117) 64%, rgb(50, 77, 167) 89%);
    box-shadow: 13px 9px 5px 0px rgba(13, 12, 12, 0.68);


}

.contenedor {
    position: relative;

}


/*max-height media querys*/
@media (max-height: 730px) {
    .juego {

        height: 300px;
    }

    #contador {
        height: 70px;


    }
}

@media (max-height: 630px) {
    .juego {

        height: 250px;
    }
}

/*max-width media querys*/
@media (max-width: 1320px) {
    .juego {

        width: 800px;
    }

    .correcto {
        font-size: 28px;
    }
}

@media (max-width: 1085px) {
    .juego {

        width: 700px;
    }

    .correcto {
        font-size: 24px;
    }
}

@media (max-width: 987px) {
    .juego {

        width: 600px;
    }

    .correcto {
        font-size: 20px;
    }
}

@media (max-width: 893px) {
    .juego {

        width: 500px;

    }

    .correcto {
        font-size: 18px;
    }
}

#actualPregunta {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 65px;
    font-weight: 1000;
    color: white;
    border: white solid 2px;
    background: rgba(0, 0, 0, 0.363);
    width: 80px;
    height: 110px;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    place-items: center;

    transition: all 0.5s ease 0s;

}

.nextNum {
    transform: scale(1.25) rotate(30deg);
    filter: brightness(250%);
    box-shadow: 13px 9px 5px 0px rgba(13, 12, 12, 0.68);

}

.correcto {

    background: linear-gradient(284deg, rgba(7, 199, 169, 1) 14%, rgba(3, 170, 112, 1) 37%, rgba(4, 158, 153, 1) 91%);
    place-items: center left;
    padding-left: 10px;
    animation: keyCorrect 0.7s ease-in-out;
    /*40s*/
    animation-timing-function: linear;




}

@keyframes keyCorrect {
    from {
        opacity: 0;
        box-shadow: inset 13px 9px 5px 0px rgba(13, 12, 12, 0.68);

    }

    to {

        opacity: 1;
        box-shadow: none;

    }
}

.number {

    float: right;
    width: 25%;
    height: 101%;
    border-left: solid black 6px;
    display: grid;
    place-items: center;

}

.textOption {
    float: left;
    height: 100%;
    width: 70%;
    display: grid;
    place-items: center left;


}






.arrows {
    position: absolute;
    cursor: pointer;
    color: white;
    bottom: 0;
    top: 0;
    padding: 10px;
    display: grid;
    place-items: center;

    transition: all 0.5s ease 0s;

}

.arrows:hover {
    background: rgba(255, 255, 255, 0.144);
    transform: scale(1.2);
}

#siguientePregunta {
    right: 0;

}

#anteriorPregunta {
    left: 0;
    padding-left: 18px;
}

#cross {
    position: absolute;
    color: rgb(218, 25, 25);
    z-index: 2;
    border-radius: 10px 10px 10px 10px;
    border: 10px rgb(153, 32, 32) solid;
    outline: 10px rgb(253, 0, 0) solid;
    background: rgba(0, 0, 0, 0.342);
    top: -600px;


    transition: all 1s ease 0s;


}

.mostrarCross {
    transform: translateY(800px) scale(1.8);
    filter: brightness(180%);
    filter: drop-shadow(30px 10px 4px #141416);

}


#imagen {

    filter: drop-shadow(10px 7px 10px #000);

    transition: all 1s ease 0s;

}

.disabled:hover {
    filter: brightness(70%);
    cursor: auto;

}

.disabled {
    filter: brightness(70%);
    cursor: auto;

}

.spaceText {
    color: rgb(185, 185, 185);
    filter: blur(0.6px);
    position: absolute;
    text-align: center;
    padding-top: 5px;
    right: 0;
    left: 0;
    font-size: 22px;
    font-weight: 1000;



}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* Chromium */
    width: 8px;
    height: 110px;
}



input::-webkit-slider-thumb:active {
    transform: scale(1.3);
}



input:hover {
    cursor: pointer;
}

.volumeControl {
    position: absolute;
    display: grid;
    place-items: center;
    transform: translateY(-50%);
    top: 50%;
    left: -40px;
    color: white;

    transition: all 0.5s ease 0s;
}

.volumeControl:hover {
    cursor: pointer;
    background-color: rgba(177, 177, 177, 0.226);
}

.playArrow {
    color: white;

    background: rgba(0, 0, 0, 0.363);
    width: 80px;
    height: 110px;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    place-items: center;
    border: white solid 8px;

    transition: all 0.5s ease 0s;

}

.left {
    position: absolute;
    right: 0;
    top: 22px;
}

.playArrow:hover {
    transform: scale(1.1);
    color: rgb(146, 146, 146);


    cursor: pointer;

}