body {
    background: rgb(16, 42, 93);
    background: radial-gradient(circle, rgba(16, 42, 93, 1) 0%, rgba(18, 75, 180, 1) 87%, rgba(41, 70, 168, 1) 89%);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Prompt', sans-serif;
}


.juego {
    border-radius: 10px 10px 10px 10px;
    height: 400px;
    width: 1000px;
    border: solid black 10px;
    background: rgb(16, 42, 93);
    background: linear-gradient(287deg, rgba(16, 42, 93, 1) 0%, rgba(18, 75, 180, 1) 64%, rgba(41, 70, 168, 1) 89%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: relative;
}

.bordeExterior {
    border: solid white 1.5px;
    outline: solid rgb(0, 0, 0) 10px;
    border-radius: 10px 10px 10px 10px;
    webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}


.grande{
    transform: scale(1.2);
 
    outline: solid rgb(63, 167, 110) 10px;
    border: solid rgb(55, 190, 21) 10px;
}
.grandeMal{
    transform: scale(1.2);
 
    outline: solid rgb(167, 70, 63) 10px;
    border: solid rgb(170, 56, 48) 10px;
}

.op {


    font-size: 30px;
    font-weight: 700;
    display: grid;
    place-items: center;
    background: rgb(15, 45, 107);
    background: linear-gradient(309deg, rgba(15, 45, 107, 1) 5%, rgba(15, 45, 107, 1) 6%, rgb(45, 83, 155) 41%);
    filter: brightness(105%);
    z-index: 0;
    transition: all 0.5;
    cursor: pointer;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.op:hover {

    filter: brightness(130%);
    font-size: 45px;



}
.correcto:hover{
    font-size: 30px;

}


.titulo {
    display: grid;
    place-items: center;
    margin-bottom: 75px;
    color: white;
}

.pregunta {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 45px;
    top: 20px;
}

#contador {
    z-index: 1;
    display: grid;
    place-items: center;
    position: absolute;
    font-size: 45px;
    color: white;
    border: solid black 5px;
    border-radius: 10px 10px 10px 10px;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 130px;
    font-weight: 700;
    background: rgb(40, 73, 139);
    background: linear-gradient(287deg, rgb(40, 75, 146) 0%, rgb(27, 59, 117) 64%, rgb(50, 77, 167) 89%);
    box-shadow: 13px 9px 5px 0px rgba(13, 12, 12, 0.68);
    -webkit-box-shadow: 13px 9px 5px 0px rgba(13, 12, 12, 0.68);
    -moz-box-shadow: 13px 9px 5px 0px rgba(13, 12, 12, 0.68);

}

#actualPregunta{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 65px;
    font-weight: 1000;
    color: white;
    border: white solid 2px;
    background: rgba(0, 0, 0, 0.363);
    width: 80px;
    height: 110px;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    place-items: center;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    
}

.nextNum{
    transform: scale(1.3);
    filter: brightness(150%);
    box-shadow: 13px 9px 5px 0px rgba(13, 12, 12, 0.68);
    -webkit-box-shadow: 13px 9px 5px 0px rgba(13, 12, 12, 0.68);
    -moz-box-shadow: 13px 9px 5px 0px rgba(13, 12, 12, 0.68);

}
.correcto{
    background: rgb(7,199,169);
background: linear-gradient(284deg, rgba(7,199,169,1) 14%, rgba(3,170,112,1) 37%, rgba(4,158,153,1) 91%);
place-items: center left;
    padding-left: 10px;


}
.number{

    position: absolute; right: 0; height: 100%;border-left: solid black 6px; display: grid;place-items: center; width: 100px;
}

#siguientePregunta{
    position: absolute;
    cursor: pointer;
    right: 0;
    color: white;
    bottom: 0;
    top: 0;
    padding: 30px;
    display: grid;
    place-items: center;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
#siguientePregunta:hover{
    background: rgba(255, 255, 255, 0.144);

}
#cross{
    position: absolute;
    color: rgb(218, 25, 25);
    z-index: 2;
    border-radius: 10px 10px 10px 10px;
    border: 10px rgb(153, 32, 32) solid;
    outline: 10px rgb(253, 0, 0) solid;
    background: rgba(0, 0, 0, 0.342);
    top:-600px;
    
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    

}
.mostrarCross{
    transform: translateY(800px) scale(1.8);
    filter: brightness(180%);
    filter: drop-shadow(30px 10px 4px #141416);
    
}
